---
title: Confraria do Kart
layout: default
image: /img/capa-desktop.jpg
---

<section class="home-banner">
    <div class="home-banner__content">
        <p class="home-banner__heading">
            <span class="home-banner__heading__line-1">
                Bem vindo à
            </span>
            <span class="home-banner__heading__line-2">
                Confraria do Kart!
            </span>
        </p>
    </div>
</section>

<section class="home-features">
    <div class="home-features__content">
        <article class="home-features__item">
            <a href="{{ site.baseurl }}/participe/" class="home-features__link">
                <span class="home-features__icon">
                    {% include svg/feat-participe.svg %}
                </span>
                <span class="home-features__text">Participe dos eventos</span>
            </a>
        </article>
        <article class="home-features__item">
            <a href="https://www.facebook.com/ConfrariaDoKart/" class="home-features__link" target="_blank">
                <span class="home-features__icon">
                    {% include svg/feat-facebook.svg %}
                </span>
                <span class="home-features__text">Siga no Facebook</span>
            </a>
        </article>
        <article class="home-features__item">
            <a href="https://www.youtube.com/channel/UCzjkXdAfXUfPZKCn4g99LYA" class="home-features__link"
                target="_blank">
                <span class="home-features__icon">
                    {% include svg/feat-youtube.svg %}
                </span>
                <span class="home-features__text">Assista no Youtube</span>
            </a>
        </article>
    </div>
</section>

<div class="embed">
    <iframe width="560" height="315"
        src="https://www.youtube-nocookie.com/embed/8kxMBBiQpcY?modestbranding=1&playsinline=1&color=white"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>

<section class="home-intro">
    <div class="home-intro__content">
        <p>
            A <strong>Confraria do Kart</strong> é uma organização de amigos, que realiza campeonatos amadores de kart
            desde 2010.
        </p>
        <p>
            Como toda realização de sucesso, começou de um sonho comum entre amigos que se divertiam em provas avulsas
            nos principais kartódromos de São Paulo. Até que Reinaldo Serdas Aro e Hélio Bassi Filho, num almoço de um dia
            qualquer de trabalho, se reuniram para rascunhar regras e um modelo que desse àquela brincadeira mais
            consistência e forma de campeonato.
        </p>
        <p>
            Assim nasceu a <strong>Confraria do Kart</strong>, uma comunidade que a cada ano cresce com os amigos dos
            amigos. Pessoas que em torno do kartismo compartilham os mesmos ideais de competição: lealdade, diversão,
            desafio e aprendizado, manutenção da saúde e relacionamentos de qualidade.
        </p>
    </div>
</section>
