.page-content {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
}

.wrapper {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-smart);
    padding-right: var(--spacing-smart);
}

.full-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul,
ol {
    &.seamless {
        list-style: none;
        padding: 0;
    }
}

.btn {
    @extend button;
    text-decoration: none;
}

.hero {
    padding: var(--spacing-s);
    background-color: $brand-color;
    color: $background-color;

    &--dark {
        @extend .hero;
        background-color: $grey-color-dark;
    }

    &--light {
        @extend .hero;
        background-color: $grey-color-light;
        color: $text-color;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}
