.home-banner {
    @extend .hero--dark;
    padding: 120px var(--spacing-smart);
    display: flex;
    align-items: center;
    margin-top: 0;
    height: 100vh;

    background-image: url('#{$baseurl}/img/primeira-pessoa.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: radial-gradient(transparent, #000);
    }

    &__content {
        @extend %transition, .wrapper;
        margin-left: 0;
        z-index: 1;
    }

    &__heading {
        font-family: $title-font-family;
        font-size: 1.3em;
        line-height: 1.25;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__line-1, &__line-2 {
            margin-top: 0.125em;
            margin-bottom: 0.125em;
            padding: 5px 20px;
        }

        &__line-1 {
            background-color: $brand-color;
            color: #fff;
        }

        &__line-2 {
            background-color: #000;
            color: $brand-color;
            font-size: 1.4em;
            text-transform: uppercase;
        }

        @include media-greater($on-palm) {
            font-size: 4vw;
        }
    }
}

.home-features {
    @extend .page-content;

    &__content {
        @extend .wrapper, .horizontal;

        @include media-query($on-palm) {
            flex-direction: column;
        }
    }

    &__item {
        @extend .flex;
        text-align: center;
    }
    
    &__link {
        @extend .vertical, .center;
        padding: 2em;
        color: $grey-color;

        &:hover, &:focus, &:active {
            color: #000;

            svg {
                transform: scale(1.2);
            }
        }
    }

    &__icon {
        margin-bottom: var(--spacing);

        svg {
            @extend %transition;
            width: 100px;
            height: 100px;
            color: inherit;

            > * {
                fill: currentColor;
            }
        }
    }
}

.home-intro {
    @extend .page-content, .hero--light;

    &__content {
        @extend .wrapper;
    }
}