$header-height: 56px;

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    line-height: $header-height;

    z-index: 99;

    & + * {
        margin-top: $header-height;
    }

    &__wrapper {
        @extend .wrapper, .horizontal;
        align-items: center;
    }
}

.site-title {
    float: left;
}

.site-nav {
    @extend .horizontal;
}

.page-link {
    display: inline-block;
    white-space: nowrap;
    padding: 0.3em 1em;

    &:hover, &:focus, &:active {
        background-color: $brand-color;
        color: #000;
    }
}

.site-footer {
    margin-top: auto;
    padding: var(--spacing) 0;
    background-color: #000;
    color: #fff;
}
