$header-height: 60px;

.site-header {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: $header-height;
    border-bottom: 1px solid $grey-color;

    &__wrapper {
        @extend .wrapper, .horizontal;
        align-items: center;
    }
}

.site-title {
    float: left;

    img {
        display: block;
    }
}

.site-nav {
    @extend .horizontal;
}

.page-link {
    display: inline-block;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
    color: $grey-color;

    &:hover, &:focus, &:active {
        color: #000;
    }
}

.site-footer {
    margin-top: auto;
    padding: var(--spacing) 0;
    background-color: #000;
    color: #fff;
}
