.post-item {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);
    padding: var(--spacing-s);

    border-radius: 6px;
    background-color: $background-color;
    box-shadow: 0 3px 6px rgba(#000, .2);

    > * {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }
}

.post-link-title {
    font-size: 1.4em;
}

.post-container {
    padding-bottom: var(--spacing-m);
}

.post-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    color: #000;
    text-shadow: -3px 3px 0 $brand-color, 6px -3px 0 $grey-color-light;
}

.post-content {
    > {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        ol,
        dl,
        figure,
        table {
            @extend .wrapper;
        }

        ul,
        ol {
            @include media-greater($on-palm) {
                padding-left: var(--spacing-m);
            }
        }
    }
}
