---
title: Blog
layout: default
isPaginated: true
---

<div class="wrapper">
    {% for post in paginator.posts %}
    <article class="post-item">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2 class="post-link-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 56 }} <a href="{{ post.url | | prepend: site.baseurl }}">continue lendo</a></p>
    </article>
    {% endfor %}

    <footer class="page-content horizontal">
        {% if paginator.previous_page %}
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}"
            class="previous icon">{% include svg/arrow-prev.svg %}</a>
        {% else %}
        <span class="previous icon">{% include svg/arrow-prev.svg %}</span>
        {% endif %}

        <span class="page_number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>

        {% if paginator.next_page %}
        <a href="{{ site.baseurl }}{{ paginator.next_page_path }}"
            class="next icon">{% include svg/arrow-next.svg %}</a>
        {% else %}
        <span class="next icon">{% include svg/arrow-next.svg %}</span>
        {% endif %}
    </footer>

</div>